### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [178]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data_pd)

purchase_data_pd.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [192]:
Total_playercount = purchase_data_pd["SN"].nunique()

Total_playercount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [191]:
uniqueID = purchase_data_pd["Item ID"].nunique()
uniqueID

183

In [181]:
AveragePrice = purchase_data_pd['Price'].mean()
AveragePrice

3.050987179487176

In [182]:
NumOfPur = purchase_data_pd['Purchase ID'].count()
NumOfPur

780

In [183]:
TotalRev = purchase_data_pd['Price'].sum()
TotalRev

2379.77

In [184]:
SummaryTable = pd.DataFrame({"Number of Unique Items": [uniqueID], 
                                 "Average Price": [AveragePrice],
                                 "Number of Purchases": [NumOfPur],
                                 "Total Revenue": [TotalRev]})
SummaryTable

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [193]:
 # Create the GroupBy object based on the "Gender"
gender_group = purchase_data_pd.groupby("Gender")

Total_Gendercount = gender_group["SN"].nunique()
Total_Gendercount

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [189]:
Percentage_Players = (Total_Gendercount / Total_playercount *100)
Percentage_Players.head()

Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [177]:
Summary_GenderTable = pd.DataFrame({"Total Count": Total_Gendercount, "Percentage of Players": Percentage_Players,})

Summary_GenderTable.index.name = None

Summary_GenderTable.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [194]:
Pur_Count = gender_group["Purchase ID"].count()

Avg_Pur_Price = gender_group["Price"].mean()

Avg_Pur_Total = gender_group["Price"].sum()

Avg_TotalPur_Per_Gender = Avg_Pur_Total / Total_Gendercount

Summary_PurByGender_Table = pd.DataFrame({"Purchase Count": Pur_Count, 
                                          "Average Purchase Price": Avg_Pur_Price,
                                          "Total Purchase Value": Avg_Pur_Total,
                                          "Avg Total Purchase per Person": Avg_TotalPur_Per_Gender})

Summary_PurByGender_Table.index.name = None

Summary_PurByGender_Table.loc[:,"Average Purchase Price"] =  Summary_PurByGender_Table["Average Purchase Price"].map("${:,.2f}".format)
Summary_PurByGender_Table.loc[:,"Total Purchase Value"] =  Summary_PurByGender_Table["Total Purchase Value"].map("${:,.2f}".format)
Summary_PurByGender_Table.loc[:,"Avg Total Purchase per Person"] =  Summary_PurByGender_Table["Avg Total Purchase per Person"].map("${:,.2f}".format)


Summary_PurByGender_Table.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [195]:
print(purchase_data_df["Age"].max())
print(purchase_data_df["Age"].min())

45
7

In [198]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100,]

# Create the names for the bins
group_namebyage = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-100"]
 

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_namebyage)
purchase_data_df.head(20)

PurchaseAge_group = purchase_data_df.groupby("Age Group")

totalcount_age = PurchaseAge_group["SN"].nunique()
totalcount_age

totalper_age = (totalcount_age /  Total_playercount) *100


Summary_Age_Table = pd.DataFrame({"Total Count": totalcount_age, 
                                  "Percentage of Players": totalper_age})

Summary_Age_Table.index.name = None

Summary_Age_Table.loc[:,"Percentage of Players"] =  Summary_Age_Table["Percentage of Players"].map("{:,.2f}%".format)

Summary_Age_Table.head(10)

        Total Count Percentage of Players
<10              17                 2.95%
10-14            22                 3.82%
15-19           107                18.58%
20-24           258                44.79%
25-29            77                13.37%
30-34            52                 9.03%
35-39            31                 5.38%
40-100           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
PurByAge_Count = PurchaseAge_group["Purchase ID"].count()
#PurByAgeCount

Avg_PurByAge_Price = PurchaseAge_group["Price"].mean()
#Avg_PurByAge_Price

Total_PurByAge = PurchaseAge_group["Price"].sum()


AvgTotal_Purbyperson = Total_PurByAge / totalcount_age
AvgTotal_Purbyperson

Summary_PurAnalysis_Age_Table = pd.DataFrame({"Purchase Count": PurByAge_Count, 
                                              "Average Purchase Price": Avg_PurByAge_Price,
                                              "Total Purchase Value": Total_PurByAge,    
                                              "Avg Total Purchase Per Person": AvgTotal_Purbyperson})


Summary_PurAnalysis_Age_Table.index.name = "Age Ranges"

Summary_PurAnalysis_Age_Table.loc[:,"Purchase Count"] = Summary_PurAnalysis_Age_Table["Purchase Count"]
Summary_PurAnalysis_Age_Table.loc[:,"Average Purchase Price"] =  Summary_PurAnalysis_Age_Table["Average Purchase Price"].map("${:,.2f}".format)
Summary_PurAnalysis_Age_Table.loc[:,"Total Purchase Value"] =  Summary_PurAnalysis_Age_Table["Total Purchase Value"].map("${:,.2f}".format)
Summary_PurAnalysis_Age_Table.loc[:,"Avg Total Purchase Per Person"] =  Summary_PurAnalysis_Age_Table["Avg Total Purchase Per Person"].map("${:,.2f}".format)

Summary_PurAnalysis_Age_Table.head(10)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [200]:
Spenders_group = purchase_data_df.groupby("SN")

Count_Spenders= Spenders_group["Purchase ID"].count()


Avg_Spenders_Price =Spenders_group["Price"].mean()
Avg_Spenders_Price

Total_PurPerSpenders = Spenders_group["Price"].sum()
Total_PurPerSpenders

Summary_Top_Spenders = pd.DataFrame({"Purchase Count": Count_Spenders, 
                                     "Average Purchase Price": Avg_Spenders_Price,
                                     "Total Purchase Value": Total_PurPerSpenders})

Summary_Top_Spenders.index.name = "SN"

Summary_Top_Spenders = Summary_Top_Spenders.sort_values(["Total Purchase Value"], ascending=False)

Summary_Top_Spenders.loc[:,"Purchase Count"] = Summary_Top_Spenders["Purchase Count"]
Summary_Top_Spenders.loc[:,"Average Purchase Price"] = Summary_Top_Spenders["Average Purchase Price"].map("${:,.2f}".format)
Summary_Top_Spenders.loc[:,"Total Purchase Value"] =  Summary_Top_Spenders["Total Purchase Value"].map("${:,.2f}".format)

Summary_Top_Spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [244]:
Items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

Items_Group = Items_df.groupby(["Item ID", "Item Name"])

Count_Items = Items_Group["Price"].count()

Total_PurValue_Item = Items_Group["Price"].sum()

Item_Price = Total_PurValue_Item / Count_Items


Summary_MostPopular_Items = pd.DataFrame({"Purchase Count": Count_Items, 
                                  "Item Price": Item_Price,
                                  "Total Purchase Value": Total_PurValue_Item})

Summary_MostPopular_Items.index.name = "Items ID"

Summary_MostPopular_Items = Summary_MostPopular_Items.sort_values(["Purchase Count"], ascending=False)

Summary_MostPopular_Items.head().style.format({"Item Price":"${:.2f}",
                                "Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [245]:
Summary_MostProfit_Items = Summary_MostPopular_Items.sort_values(["Total Purchase Value"], ascending=False)

Summary_MostProfit_Items.head().style.format({"Item Price":"${:.2f}",
                                "Total Purchase Value":"${:.2f}"})